/* global theme */
* {
    font: sans-serif 11;
    -GtkPaned-handle-size: 2;
    -GtkProgressBar-min-horizontal-bar-height: 10;
    -GtkProgressBar-min-vertical-bar-width: 10;
    background-color: rgb (100, 100, 100);
}

*:hover {
    background-color: rgb (125, 125, 125);
}

GtkNotebook
{
    -GtkWidget-focus-line-width: 0;
}

/* notebook theme */
.notebook
{
    font: sans-serif 9 bold;
    padding: 0;
}

.notebook child
{
    border-style: none;
    background-color: rgb (100, 100, 100);
}

.notebook tab
{
    background-color: rgb (100, 100, 100);
    border-style: solid;
    border-color: black;
    border-width: 1;
    color: white;
}

.notebook tab:active
{
    background-color: black;
}

.notebook tab:hover
{
    background-color: rgb (125, 125, 125);
}

/* scrollbar theme */
GtkScrollbar
{
    background-color: rgb (100, 100, 100);
    border-color: #444444;
    border-width: 1;

    -GtkRange-slider-width: 10;
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
}

GtkScrollbar.slider
{
    background-color: black;
}

/* statusbar theme */
Statusbar, Statusbar *
{
    background-color: rgb (0, 0, 0);
    color: rgb (255, 255, 255);
    font: sans-serif 9 bold;
}

.progressbar,
.progressbar row
{
    background-color: rgb (50, 50, 100);
    border-width: 1;
    border-color: shade (rgb (50, 50, 100), 0.4);
}

/* inputbox theme */
Inputbox, Inputbox *
{
    border-style: none;
    padding: 0;
    margin: 0;

    background-color: white;
    font: sans-serif 9;
    color: black;
}
