*.swp
*~
*.o
*.a
src/core/cream/cream
src/core/creamctl/creamctl
doc/html
_build
__build__
*.DS_Store

Makefile.config
configure.lua
config.log
config/*
config_build.h
*.depend
mk/libtool.ok
mk/libtool/libtool
*.lo
*.la
src/core/cream
