global
{
     homepage = "http://cream-browser.net"
     encodage = "UTF-8"
     javascript = TRUE

     user-agent
     {
          set "@global@" { name = "Cream-Browser @version@ (WebKit @webkit_major@.@webkit_minor@.@webkit_micro@) (@sys-nodename@ @sys-sysname@ @sys-release@ @sys-version@ [@arch@])" }
          # Use regex to set dynamic user agent according to a domain
          set "google\.(fr|com)" { name = "Mozilla/5.0 (X11; U; Linux i686; en-US; rv:1.9.2.1) Gecko/20100122 firefox/3.6.1" }
     }

     bookmarks = "~/.config/cream-browser/bookmarks"
     history = "~/.config/cream-browser/history"
     cookie = "~/.config/cream-browser/cookies.txt"
}

handlers
{
     set "cream::init" { handler = "spawn 1 ~/.config/cream-browser/scripts/session.sh load" }
     set "cream::quit" { handler = "spawn 1 ~/.config/cream-browser/scripts/session.sh save" }
}

keys
{
     bind "d" { cmd = "download %s" }

     bind "h" { cmd = "open @home@" }
     bind "o" { cmd = "open %s" }
     bind "O" { cmd = "open @uri@" }
     bind "t" { cmd = "tabopen %s" }
     bind "H" { cmd = "tabopen @home@" }

     bind "y" { cmd = "yank" }
     bind "p" { cmd = "paste" }
     bind "P" { cmd = "paste tab" }

     bind "c" { cmd = "close" }
     bind "zZ" { cmd = "quit" }
}

gui
{
     inputbox { font = "monospace normal 8" }

     statusbar
     {
          font = "monospace bold 8"

          bg_normal = "#000000" fg_normal = "#FFFFFF"
          bg_ssl    = "#B0FF00" fg_ssl    = "#000000"
     }

     vte
     {
          font         = "monospace normal 8"
          shell        = "/bin/sh"
          reverse      = FALSE
          doublebuffer = TRUE
          hints        = TRUE
     }
}

