body
{
     width: 100%;
     margin: 0px;
     padding: 0px;

     font:
     {
          family: sans-serif;
          size: 12px;
     }

     background: #FEFEFF;

     h1
     {
          font-size: 22px;
     }

     h2
     {
          font-size: 16px;
          line-height: 16px;
          text-indent: 25px;
          background: no-repeat url("http://cream-browser.net/img/heading.png");
     }

     h3
     {
          font:
          {
               size: 14px;
               style: italic;
          }
     }

     a
     {
          color: #4183C4;
          text-decoration: none;

          &:hover
          {
               text-decoration: underline;
          }
     }

     img
     {
          border: 0;
     }

     abbr
     {
          font-style: italic;
     }

     code
     {
          display: block;
          margin: 5px;
          padding: 3px;
          overflow: auto;

          &.pre
          {
               margin: 0px;
               padding: 0px;
               display: inline;

               background: #FEFEFF;
               color: black;
               border: 0;
          }

          &.inline
          {
               margin: 0px;
               padding: 0px;
               padding-left: 3px;
               padding-right: 3px;
               display: inline;
          }

          font:
          {
               family: Courier, Monospace;
               size: 12px;
          }

          background: #F8F8F8;
          color: black;

          border: 1px solid #DDDDDD;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
     }

     #fork
     {
          position: absolute;
          top: 0;
          right: 0;
     }

     #container
     {
          background: repeat-x url("http://cream-browser.net/img/bg.png");
          margin: 0 auto;
          padding-right: 150px;
          border-bottom: 1px solid #CCCCCC;

          .download
          {
               float: right;
          }
          .logo
          {
               margin-top: -20px;
               float: left;
          }


          h1
          {
               font-size: 3.8em;
               color: black;
               padding-left: 5px;
               margin-bottom: 3px;

               .small
               {
                    font:
                    {
                         size: 0.3em;
                         style: italic;
                    }

                    color: #CCCCCC;
               }

               a
               {
                    text-decoration: none;
                    color: black;
               }
          }
     }

     #menu
     {
          margin: auto;
          margin-top: 35px;
          padding: 5px;

          width: 85%;
          height: 26px;
          line-height: 26px;

          text-align: center;

          background: repeat-x url("http://cream-browser.net/img/tab.gif");
          border: 1px solid #DDDDDD;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;

          ul
          {
               list-style-type: none;
               margin: 0px;
               padding: 0px;

               li
               {
                    a
                    {
                         text-decoration: none;
                         color: #666666;
                         text-shadow: 1px 1px 0 rgba(255,255,255,0.7);

                         &:hover
                         {
                              color: #333333;
                         }
                    }

                    display: inline;
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 5px;

                    &:hover
                    {
                         background: #CCCCCC;
                         -webkit-border-radius: 4px;
                         -moz-border-radius: 4px;
                    }

                    &.submenu
                    {
                         ul
                         {
                              display: none;
                              position: absolute;
                              padding: 5px;
                              margin: 0px;
                              margin-top: 22px;
                              margin-left: -68px;

                              border: 1px solid #CCCCCC;
                              background: #EEEEEE;
                              -webkit-border-radius: 4px;
                              -moz-border-radius: 4px;

                              li
                              {
                                   display: block;
                                   padding: 0px;
                                   padding-left: 3px;
                                   padding-right: 3px;
                                   margin: 0px;
                              }

                              &:hover
                              {
                                   display: inline;
                              }
                         }

                         &:hover
                         {
                              ul
                              {
                                   display: inline;
                              }
                         }
                    }
               }
          }
     }

     #body
     {
          margin: auto;
          margin-top: -5px;
          padding-top: 15px;
          padding: 5px;

          width: 85%;

          border-left: 1px solid #DDDDDD;
          border-right: 1px solid #DDDDDD;

          .googlegroups
          {
               width: 680px;
               max-width: 100%;
               margin: auto;

               .left, .right
               {
                    display: inline-block;
                    border: 1px solid #DDDDDD;
                    margin: 3px;
                    padding: 5px;
               }
          }

          #blog
          {
               .index
               {
                    ul
                    {
                         list-style-type: none;

                         li
                         {
                              height: 22px;
                              line-height: 22px;

                              margin: 3px;

                              border: 1px solid #DDDDDD;
                              background: #F7F8F9;

                              &:hover
                              {
                                   border: 1px solid #BEDCE7;
                                   background: #EAF2F5;
                              }

                              span.link
                              {
                                   padding: 5px;
                              }

                              span.date
                              {
                                   padding-left: 15px;
                                   padding-right: 5px;
                                   float: right;

                                   border-left: 1px solid #DDDDDD;

                                   font-style: italic;
                                   font-size: 10px;
                                   color: #888888;
                              }
                         }
                    }
               }

               p.links
               {
                    margin-top: 15px;
                    margin-bottom: 15px;

                    display: inline-block;
                    overflow: hidden;

                    text-align: center;
                    font-weight: bold;

                    border-radius: 4px;
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;

                    box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
                    -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
                    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);

                    span
                    {
                         background-color: #F0F0F0;
                         background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), color-stop(0.5, #F0F0F0), color-stop(0.51, #E6E6E6));
                         background-image: -moz-linear-gradient(#FEFEFE 0%, #F0F0F0 50%, #E6E6E6 51%);
                         background-image: -o-linear-gradient(#FEFEFE 0%, #F0F0F0 50%, #E6E6E6 51%);
                         background-image: -ms-linear-gradient(#FEFEFE 0%, #F0F0F0 50%, #E6E6E6 51%);
                         background-image: linear-gradient(#FEFEFE 0%, #F0F0F0 50%, #E6E6E6 51%);

                         border-right: 1px solid rgba(9, 9, 9, 0.125);

                         box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
                         -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
                         -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

                         position: relative;
                         float: left;

                         &:after
                         {
                              content: '.';
                              text-indent: -9999px;

                              overflow: hidden;
                              position: absolute;

                              width: 100%;
                              height: 100%;

                              top: 0;
                              left: 0;
                              z-index: 1;
                              opacity: 0;

                              background-image: -webkit-gradient(linear, left top, right top, from(rgba(168, 168, 168, 0.5)), color-stop(0.5, rgba(168, 168, 168, 0)), to(rgba(168, 168, 168, 0.5)));
                              background-image: -moz-linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0.5) 50%, rgba(168, 168, 168, 0.5));
                              background-image: -o-linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0.5) 50%, rgba(168, 168, 168, 0.5));
                              background-image: -ms-linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0.5) 50%, rgba(168, 168, 168, 0.5));
                              background-image: linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0.5) 50%, rgba(168, 168, 168, 0.5));

                              box-shadow: -1px 0 0 #A3A3A3, -2px 0 0 #FFFFFF, 1px 0 0 #A3A3A3, 2px 0 0 #FFFFFF;
                              -moz-box-shadow: -1px 0 0 #A3A3A3, -2px 0 0 #FFFFFF, 1px 0 0 #A3A3A3, 2px 0 0 #FFFFFF;
                              -webkit-box-shadow: -1px 0 0 #A3A3A3, -2px 0 0 #FFFFFF, 1px 0 0 #A3A3A3, 2px 0 0 #FFFFFF;

                              -moz-transition: 0.25s all;
                              -webkit-transition: 0.25s all;
                              -o-transition: 0.25s all;
                              transition: 0.25s all;
                         }

                         &:first-child
                         {
                              border-radius: 4px 0 0 4px;

                              &:after
                              {
                                   box-shadow: 1px 0 0 #A3A3A3, 2px 0 0 #FFFFFF;
                                   -moz-box-shadow: 1px 0 0 #A3A3A3, 2px 0 0 #FFFFFF;
                                   -webkit-box-shadow: 1px 0 0 #A3A3A3, 2px 0 0 #FFFFFF;
                              }
                         }

                         &:last-child
                         {
                              border-radius: 0 4px 4px 0;

                              &:after
                              {
                                   box-shadow: -1px 0 0 #A3A3A3, -2px 0 0 #FFFFFF;
                                   -moz-box-shadow: -1px 0 0 #A3A3A3, -2px 0 0 #FFFFFF;
                                   -webkit-box-shadow: -1px 0 0 #A3A3A3, -2px 0 0 #FFFFFF;
                              }
                         }

                         &:hover:after
                         {
                              opacity: 1;
                         }

                         a
                         {
                              color: #5D5D5D;
                              display: inline-block;
                              font: 14px/1 Lobster,Arial,sans-serif;
                              padding: 8px 16px 9px;
                              position: relative;
                              text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
                              z-index: 2;
                              text-decoration: none !important;
                              white-space: nowrap;

                              img
                              {
                                   width: 12px;
                                   height: 12px;
                              }
                         }

                         &.hidden
                         {
                              display: none;
                         }
                    }
               }

               .content
               {
                    margin: -6px;
                    padding: 5px;
                    border: 1px solid #DDDDDD;
               }
          }
     }

     #footer
     {
          border-top: 1px solid #DDDDDD;
          text-align: center;

          a.feed
          {
               background: no-repeat url("http://cream-browser.net/img/rss.png");
               display: inline-block;
               width: 16px;
               height: 16px;

               span.feed
               {
                    display: none;
               }
          }
     }
}
