body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 12px;
  background: #FEFEFF; }
  body h1 {
    font-size: 22px; }
  body h2 {
    font-size: 16px;
    line-height: 16px;
    text-indent: 25px;
    background: no-repeat url("http://cream-browser.net/img/heading.png"); }
  body h3 {
    font-size: 14px;
    font-style: italic; }
  body a {
    color: #4183C4;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
  body img {
    border: 0; }
  body abbr {
    font-style: italic; }
  body code {
    display: block;
    margin: 5px;
    padding: 3px;
    overflow: auto;
    font-family: Courier, Monospace;
    font-size: 12px;
    background: #F8F8F8;
    color: black;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
    body code.pre {
      margin: 0px;
      padding: 0px;
      display: inline;
      background: #FEFEFF;
      color: black;
      border: 0; }
    body code.inline {
      margin: 0px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
      display: inline; }
  body #fork {
    position: absolute;
    top: 0;
    right: 0; }
  body #container {
    background: repeat-x url("http://cream-browser.net/img/bg.png");
    margin: 0 auto;
    padding-right: 150px;
    border-bottom: 1px solid #CCCCCC; }
    body #container .download {
      float: right; }
    body #container .logo {
      margin-top: -20px;
      float: left; }
    body #container h1 {
      font-size: 3.8em;
      color: black;
      padding-left: 5px;
      margin-bottom: 3px; }
      body #container h1 .small {
        font-size: 0.3em;
        font-style: italic;
        color: #CCCCCC; }
      body #container h1 a {
        text-decoration: none;
        color: black; }
  body #menu {
    margin: auto;
    margin-top: 35px;
    padding: 5px;
    width: 85%;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: repeat-x url("http://cream-browser.net/img/tab.gif");
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
    body #menu ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px; }
      body #menu ul li {
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px; }
        body #menu ul li a {
          text-decoration: none;
          color: #666666;
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7); }
          body #menu ul li a:hover {
            color: #333333; }
        body #menu ul li:hover {
          background: #CCCCCC;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px; }
        body #menu ul li.submenu ul {
          display: none;
          position: absolute;
          padding: 5px;
          margin: 0px;
          margin-top: 22px;
          margin-left: -68px;
          border: 1px solid #CCCCCC;
          background: #EEEEEE;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px; }
          body #menu ul li.submenu ul li {
            display: block;
            padding: 0px;
            padding-left: 3px;
            padding-right: 3px;
            margin: 0px; }
          body #menu ul li.submenu ul:hover {
            display: inline; }
        body #menu ul li.submenu:hover ul {
          display: inline; }
  body #body {
    margin: auto;
    margin-top: -5px;
    padding-top: 15px;
    padding: 5px;
    width: 85%;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD; }
    body #body .googlegroups {
      width: 680px;
      max-width: 100%;
      margin: auto; }
      body #body .googlegroups .left, body #body .googlegroups .right {
        display: inline-block;
        border: 1px solid #DDDDDD;
        margin: 3px;
        padding: 5px; }
    body #body #blog .index {
      padding-top: 10px;
      padding-bottom: 10px; }
      body #body #blog .index input, body #body #blog .index select {
        border: 1px solid gray;
        font: normal 9px sans-serif; }
      body #body #blog .index #plstblog_index_length, body #body #blog .index #plstblog_index_info {
        font: normal 10px sans-serif;
        float: left; }
      body #body #blog .index #plstblog_index_filter, body #body #blog .index #plstblog_index_paginate {
        font: normal 10px sans-serif;
        text-align: right;
        padding-bottom: 5px; }
      body #body #blog .index #plstblog_index_paginate {
        padding-top: 5px; }
        body #body #blog .index #plstblog_index_paginate span {
          border: 1px solid gray;
          padding: 3px; }
          body #body #blog .index #plstblog_index_paginate span.paginate_active {
            background-color: #EFEFEF; }
      body #body #blog .index #plstblog_index_wrapper {
        width: 95%;
        margin: auto; }
      body #body #blog .index table {
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        border: 1px solid #666666;
        font: normal 11px verdana, arial, helvetica, sans-serif;
        color: #363636;
        background: #f6f6f6;
        text-align: left; }
        body #body #blog .index table caption {
          text-align: center;
          font: bold 16px arial, helvetica, sans-serif;
          background: transparent;
          padding: 6px 4px 8px 0px;
          color: #CC00FF;
          text-transform: uppercase; }
        body #body #blog .index table .lastedit {
          text-align: right; }
        body #body #blog .index table thead, body #body #blog .index table tfoot {
          background: repeat-x url("http://cream-browser.net/img/tab.gif");
          text-align: left;
          height: 30px; }
          body #body #blog .index table thead th, body #body #blog .index table tfoot th {
            padding: 5px; }
        body #body #blog .index table tbody th, body #body #blog .index table tbody td {
          padding: 5px; }
        body #body #blog .index table a {
          color: #333333;
          text-decoration: none; }
          body #body #blog .index table a:hover {
            text-decoration: underline; }
        body #body #blog .index table tr.odd {
          background: #f1f1f1; }
    body #body #blog p.links {
      margin-top: 15px;
      margin-bottom: 15px;
      display: inline-block;
      overflow: hidden;
      text-align: center;
      font-weight: bold;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
      -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
      -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6); }
      body #body #blog p.links span {
        background-color: #F0F0F0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), color-stop(0.5, #f0f0f0), color-stop(0.51, #e6e6e6));
        background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
        background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
        background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
        background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
        border-right: 1px solid rgba(9, 9, 9, 0.125);
        box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
        -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
        -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
        position: relative;
        float: left; }
        body #body #blog p.links span:after {
          content: '.';
          text-indent: -9999px;
          overflow: hidden;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 1;
          opacity: 0;
          background-image: -webkit-gradient(linear, left top, right top, from(rgba(168, 168, 168, 0.5)), color-stop(0.5, rgba(168, 168, 168, 0)), to(rgba(168, 168, 168, 0.5)));
          background-image: -moz-linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0.5) 50%, rgba(168, 168, 168, 0.5));
          background-image: -o-linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0.5) 50%, rgba(168, 168, 168, 0.5));
          background-image: -ms-linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0.5) 50%, rgba(168, 168, 168, 0.5));
          background-image: linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0.5) 50%, rgba(168, 168, 168, 0.5));
          box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 white, 1px 0 0 #a3a3a3, 2px 0 0 white;
          -moz-box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 white, 1px 0 0 #a3a3a3, 2px 0 0 white;
          -webkit-box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 white, 1px 0 0 #a3a3a3, 2px 0 0 white;
          -moz-transition: 0.25s all;
          -webkit-transition: 0.25s all;
          -o-transition: 0.25s all;
          transition: 0.25s all; }
        body #body #blog p.links span:first-child {
          border-radius: 4px 0 0 4px; }
          body #body #blog p.links span:first-child:after {
            box-shadow: 1px 0 0 #A3A3A3, 2px 0 0 #FFFFFF;
            -moz-box-shadow: 1px 0 0 #A3A3A3, 2px 0 0 #FFFFFF;
            -webkit-box-shadow: 1px 0 0 #A3A3A3, 2px 0 0 #FFFFFF; }
        body #body #blog p.links span:last-child {
          border-radius: 0 4px 4px 0; }
          body #body #blog p.links span:last-child:after {
            box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 white;
            -moz-box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 white;
            -webkit-box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 white; }
        body #body #blog p.links span:hover:after {
          opacity: 1; }
        body #body #blog p.links span a {
          color: #5D5D5D;
          display: inline-block;
          font: 14px/1 Lobster, Arial, sans-serif;
          padding: 8px 16px 9px;
          position: relative;
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
          z-index: 2;
          text-decoration: none !important;
          white-space: nowrap; }
          body #body #blog p.links span a img {
            width: 12px;
            height: 12px; }
        body #body #blog p.links span.hidden {
          display: none; }
    body #body #blog .content {
      margin: -6px;
      padding: 5px;
      border: 1px solid #DDDDDD; }
  body #footer {
    border-top: 1px solid #DDDDDD;
    text-align: center; }
    body #footer a.feed {
      background: no-repeat url("http://cream-browser.net/img/rss.png");
      display: inline-block;
      width: 16px;
      height: 16px; }
      body #footer a.feed span.feed {
        display: none; }
